h1 {color: darkgreen;
}
h1 {text-align: center;
}
h1  {font-family: "Crimson Text", serif;
font-weight: 700%;
font-style: normal;} 
h1 {border-style: solid;
border-color: olive;
 border-width: 5px;}
 h1 { margin-left: 30%;}
 h1 {margin-right: 30%;}
 h1 { 

 }




